In [18]:
# add items hidden by DataCamp
import pandas as pd
titanic = pd.read_csv('DataSets/titanic.csv')
print(titanic.head(5))

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [22]:
# Group titanic by 'pclass'
by_class = titanic.groupby('pclass')
print('by_class:\n')
print(by_class.head(2))

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['survived'].count()

# Print count_by_class
print('\ncount_by_class:\n')
print(count_by_class)

# Group titanic by 'embarked' and 'pclass'
by_mult = titanic.groupby(['embarked','pclass'])
#print('\nby_mult:\n')
#print(by_mult.head(2)) # this is long - uncomment to check it out if needed

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['survived'].count()

# Print count_mult
print('\ncount_mult:\n')
print(count_mult)

by_class:

     pclass  survived                                   name     sex    age  \
0         1         1          Allen, Miss. Elisabeth Walton  female  29.00
1         1         1         Allison, Master. Hudson Trevor    male   0.92
323       2         0                    Abelson, Mr. Samuel    male  30.00
324       2         1  Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00
600       3         0                    Abbing, Mr. Anthony    male  42.00
601       3         0          Abbott, Master. Eugene Joseph    male  13.00

     sibsp  parch     ticket      fare    cabin embarked boat  body  \
0        0      0      24160  211.3375       B5        S    2   NaN
1        1      2     113781  151.5500  C22 C26        S   11   NaN
323      1      0  P/PP 3381   24.0000      NaN        C  NaN   NaN
324      1      0  P/PP 3381   24.0000      NaN        C   10   NaN
600      0      0  C.A. 5547    7.5500      NaN        S  NaN   NaN
601      0      2  C.A. 2673   20.2500      NaN        S  NaN   NaN

                           home.dest
0                       St Louis, MO
1    Montreal, PQ / Chesterville, ON
323              Russia New York, NY
324              Russia New York, NY
600                              NaN
601              East Providence, RI

count_by_class:

pclass
1    323
2    277
3    709
Name: survived, dtype: int64

count_mult:

embarked  pclass
C         1         141
          2          28
          3         101
Q         1           3
          2           7
          3         113
S         1         177
          2         242
          3         495
Name: survived, dtype: int64