In [1]:
# add items hidden by DataCamp
import pandas as pd
titanic = pd.read_csv('DataSets/titanic.csv')
print(titanic.head(5))

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [2]:
# Group titanic by 'pclass': by_class
by_class = titanic.groupby('pclass')
print('\nby_class:\n')
print(by_class.head(2))

by_class:

     pclass  survived                                   name     sex    age  \
0         1         1          Allen, Miss. Elisabeth Walton  female  29.00
1         1         1         Allison, Master. Hudson Trevor    male   0.92
323       2         0                    Abelson, Mr. Samuel    male  30.00
324       2         1  Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00
600       3         0                    Abbing, Mr. Anthony    male  42.00
601       3         0          Abbott, Master. Eugene Joseph    male  13.00

     sibsp  parch     ticket      fare    cabin embarked boat  body  \
0        0      0      24160  211.3375       B5        S    2   NaN
1        1      2     113781  151.5500  C22 C26        S   11   NaN
323      1      0  P/PP 3381   24.0000      NaN        C  NaN   NaN
324      1      0  P/PP 3381   24.0000      NaN        C   10   NaN
600      0      0  C.A. 5547    7.5500      NaN        S  NaN   NaN
601      0      2  C.A. 2673   20.2500      NaN        S  NaN   NaN

                           home.dest
0                       St Louis, MO
1    Montreal, PQ / Chesterville, ON
323              Russia New York, NY
324              Russia New York, NY
600                              NaN
601              East Providence, RI

In [3]:
# Select 'age' and 'fare' columns for a new dataFrame
by_class_sub = by_class[['age','fare']]
print('\nby_class_sub:\n')
print(by_class_sub.head(2))

by_class_sub:

       age      fare
0    29.00  211.3375
1     0.92  151.5500
323  30.00   24.0000
324  28.00   24.0000
600  42.00    7.5500
601  13.00   20.2500

In [4]:
# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max', 'median'])   # max on the 1st column: age, median on the 2nd column: fare
print('\naggregated:\n')
print(aggregated.head())

aggregated:

         age             fare
         max median       max   median
pclass
1       80.0   39.0  512.3292  60.0000
2       70.0   29.0   73.5000  15.0458
3       74.0   24.0   69.5500   8.0500

In [5]:
# Print the maximum age in each class
print('\naggregated max age by class:\n')
print(aggregated.loc[:, ('age','max')])

aggregated max age by class:

pclass
1    80.0
2    70.0
3    74.0
Name: (age, max), dtype: float64

In [6]:
# Print the median fare in each class
print('\naggregated median fare by class:\n')
print(aggregated.loc[:, ('fare', 'median')])

aggregated median fare by class:

pclass
1    60.0000
2    15.0458
3     8.0500
Name: (fare, median), dtype: float64